@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Poppins&display=swap');








#section-counter {

  position: relative;
  z-index: 0;
  background-color: #FF5800;
}

@media (max-width: 1199.98px) {
  .ftco-counter {
    background-position: center center !important;
    
  }
}

.overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 150%;
  
  opacity: 0.8;
}

.container_gc {
  margin-left: auto;
  margin-right: auto;

}

@media (min-width: 576px) {
  .container_gc {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container_gc {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container_gc {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container_gc {
    max-width: 1140px;
  }
}

.row_gc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-pack: center !important;

  
}

.col_md_12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  
}

@media (min-width: 768px) {
  .col_md_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .col_md_6 {
    width: 100%;
    position: relative;
    min-height: 1px;
  }
}

@media (max-width: 991.98px) {
  .counter_wrap {
    margin-bottom: 40px !important;
  }
}

.col_lg_3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 20%;
  max-width: 25%;
  justify-content: center;
  align-items: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  
  
}

@media (max-width: 768px) {
  .col_lg_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .col_lg_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.block_18 {
  font-size: 25px;
  display: block;
  text-align: center !important;
  
  
  
}

.circle {
  width: 160px;
  height: 160px;
  text-align: center;
  vertical-align: middle;
  color: black;
  padding: 40px 2px;
  text-align: center;
  font-family: 'Poppins';
  
}

.numbergc {
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 35px;
  color:black;
  background-color: #FF5800;
 
}
.ftco_counter{
  background-color: #FF5800;
}