.Home_Button{
    color: white;
    display: flex;
    flex-direction:column;
    margin-bottom: 72px;
    margin-top: 72px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.But{
    display: flex;
    /* margin-left: 48px; */
    margin-bottom: 16px;
    margin-left: 5vw;
}


.custom-button {
    background: transparent;
    color: white;
    border: 0.75px solid rgb(123, 104, 104); /* Initial border color */
    padding: 10px 20px;
   width: 30vw;
   height: 64px;
    cursor: pointer;
    transition: border-color 0.3s; /* Smooth transition for border color */
    border-radius:12px;
    /* margin-left: 16px; */
    justify-items: start; 
  }
  
  .red:hover {
    border-color: #006eff; /* Border color on hover */
    
  }




  @media (max-width: 1000px) {
    .custom-button {
      width: 60vw;
    }
    .But{
      margin-left: 10vw;
  }
    
 }
