.Home_Button{
    color: white;
    display: flex;
    flex-direction:column;
    margin-bottom: 72px;
    margin-top: 72px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.But{
    display: flex;
    margin-left: 48px;
    margin-bottom: 16px;
}


.custom-button {
    background: transparent;
    color: white;
    border: 0.75px solid rgb(123, 104, 104); /* Initial border color */
    padding: 10px 20px;
   width: 500px;
   height: 64px;
    cursor: pointer;
    transition: border-color 0.3s; /* Smooth transition for border color */
    border-radius:12px;
    margin-left: 16px;
    justify-items: start; 
  }
  
  .red:hover {
    border-color: #006eff; /* Border color on hover */
    
  }


  /* .yellow:hover {
    border-color: yellow; 
  }


  .green:hover {
    border-color: rgb(124, 244, 124); 
  } */

  @media (max-width: 1000px) {
    .But {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0px;
    }
    .custom-button{
      padding: 10px;
      margin:4px
    }
 }