.Top{
    margin-left: 20px;
}

.first{
    color: white;
    display: flex;
    flex-direction: column;
    /* sfont-size: 96px; */
    margin-left: 4%;
    font-family: sans-serif;
    padding-top: 96px;
    /* margin-bottom: 64px; */
    /* padding-bottom: 72px; */
}

.head-bottom{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.high{
    padding-left: 8px;
    font-size: 48px;
    color: #006eff;
}

.bottom{
    margin-left: 4%;
    font-family: sans-serif;
    color: white;
    margin-top: 12px;
    margin-bottom: 72px;
    
}

@keyframes slide-left {
    /* use % to specify the animation at different stages (in this case, 0% and 100%) */
    0% {
      transform: translateX(100%);
    }
    100% {
      /* adjust the value to control how much the text moves */
      transform: translateX(0px);
    }
  }

  
  /* The element to apply the animation to */
.high{
    /* width: 100px;
    height: 100px; */
    /* background-color: red; */
    animation-name: slide-left;
    animation-duration: 4s;
  }