.heading{
    color: white;
    display: flex;
    justify-content: center;
   
}
.head1{
    margin-bottom: 32px;
    margin-top: 32px;
}



.h1{
    size: 32px;
}

.img{
    height: 240px;
    /* float: left; */
}

/* .p{
    display: float;
    /* color: white; */
    

.card1{
    color: black;
    display: flex;
    background-color: rgba(255, 255, 255, 0.839) ;
    margin-bottom: 24px;
    align-items: center;
    /* width: 70%; */
    /* border: blueviolet solid 3px; */
    /* padding-right: 20%; */
    margin-right: 20%;
    margin-left: 3%;
    border: #006eff solid 2px;
    border-radius: 20px;
}


/* .why{
    background-color: white;
} */

.card3{
    color: black;
    display: flex;
    background-color: rgba(255, 255, 255, 0.839) ;
    margin-bottom: 24px;
    align-items: center;
    /* width: 70%; */
    /* border: blueviolet solid 3px; */
    /* padding-right: 20%; */
    margin-right: 20%;
    margin-left: 3%;
    border: #006eff solid 2px;
    border-radius: 20px;
}

.card4{
    color: black;
    display: flex;
    background-color: rgba(255, 255, 255, 0.839) ;
    margin-bottom: 24px;
    align-items: center;
    /* width: 70%; */
    /* border: blueviolet solid 3px; */
    /* padding-right: 20%; */
    margin-left: 20%;
    margin-right: 3%;
    border: #006eff solid 2px;
    border-radius: 20px;
    padding-left: 3%;
}

.card2{
    color: black;
    display: flex;
    background-color: rgba(255, 255, 255, 0.839) ;
    margin-bottom: 24px;
    align-items: center;
    /* width: 70%; */
    /* border: blueviolet solid 3px; */
    /* padding-right: 20%; */
    margin-left: 20%;
    margin-right: 3%;
    border: #006eff solid 2px;
    border-radius: 20px;
    padding-left: 2%;
}

.why-card{
    border: none;
    background-color: black;
}

element.style {
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}

@media (max-width: 786px) {
    .tf{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}