.heading{
    color: white;
    display: flex;
    justify-content: center;
   
}
.h1{
    size: 32px;
}

.img{
    height: 240px;
    /* float: left; */
}

/* .p{
    display: float;
    /* color: white; */
    

.card1{
    color: white;
    display: flex;
    background-color: black;
    margin-bottom: 0px;
    align-items: center;
    /* width: 70%; */
    /* border: blueviolet solid 3px; */
    padding-right: 20%;
    
}


.why{
    background-color: black;
}

.card3{
    background-color: black;
    color: white;
    margin-bottom: 0px;
    padding-right: 20%;
}

.card4{
    background-color: black;
    color: white;
    margin-bottom: 0px;
    padding-left: 20%;
}

.card2{
    background-color: black;
    color: white;
    margin-bottom: 0px;
    padding-left: 20%;
}

.card{
    border: none;
    background-color: black;
}

element.style {
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}