.nvbr{
    display: flex;
    background-color: black;
    color: white;
    height: 12vh;
    align-items: center;
    padding: 0vh 2vw;
}
.nav-items{
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
}

.right{
    display: flex;
    position: absolute;
    right: 3vw;
    gap: 2vw;
}
.profile{
    height: 40px;
    overflow: hidden;
    width: 40px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 2rem;
}
.notifications{
    height: 40px;
    overflow: hidden;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 1.5rem;
}
.domains-dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: black;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    transition-duration:0.3s ;
justify-content: center;
align-items: center;
}
.domains-dropdown div{    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
align-items: center;
    width: 100%;
    height: 50%;}
.domains-dropdown div:hover{
background: #006eff;
    color: black;
    width: 80%;
    border-radius: 10px;
    border: 1px solid black;
    
}
.domains-header:hover{
    cursor: pointer;
}
/* Add this media query to define styles for mobile view */
@media (max-width: 768px) {
    .domains {
      display: none;
    }
  
    .domains.mobile-hidden {
      display: flex;
    }
  
    .nvbr.mobile-menu-open .domains {
      display: flex;
    }
  
   
  }
  
  /* Rest of your existing styles */
  
  .nav-items{
    color: white;
  }