.mentorcard{
    background-color:black;
    box-shadow: 2px 2px 4px 4px rgb(100, 144, 247);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-direction: row; */
    width: 90%;
    color: white;
    
}
.mentorpic{
    display: flex;
    /* width: fit-content; */
    justify-content: center;
height: 100%;
margin: 0.5rem;
/* padding:  5rem; */
overflow: hidden;
margin-top: 8%;
/* border-right: 1px solid white ; */
}
.mentorpic img{
   
    width: 10rem;
height: 10rem;
border-radius: 80%;

}
.mentordesc{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
.mentorname{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
}
.mentorfield{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}
.mentorabout{
    font-size: 0.9rem;
}
.mentorabout button{
    border: none;
    background-color: black;
    color: blue;
}
.mentorprice{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border-left: 1px solid white; */
    padding: 0.5rem;
    margin-left: 20px;
}
/* .mentorpackages{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: bold;
} */

