.mentorcard{
    background-color:black;
    box-shadow: 2px 2px 4px 4px rgb(100, 144, 247);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    width: 18rem;
    color: white;
    border-radius: 3%;
    padding:0.5rem;
}
.mentorpic{
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}
.mentorpic img{
    width:9rem;
height: 9rem;
border-radius: 100%;

}
.mentordesc{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:0.25rem;

}
.mentorname{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
}
.mentorfield{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
.mentorabout{
    font-size: 0.8rem;

}
.mentorabout button{
    border: none;
    background-color: black;
    color: blue;
}
.mentorprice{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size:0.9rem;
    padding:0.25rem;
}


