.mentorpage{
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    background-color: black;
    width: 100%;
}
.mentorhead{
    margin-left: 5%;
}
.mentor-head-text{
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}
.mentor-head-subtext{
    font-size: 1.5rem;
    margin-left: 5%;
}
.mentortype{
    margin-left: 5%;
}
